.header {
  display: flex;
  height: 20rem;
  padding: 1.5rem 10.5rem 0 10.5rem;
  background-color: #146eb4;
}

.header__logo {
  height: fit-content;
}

.header__actions {
  display: flex;
  gap: 2rem;
  height: fit-content;
  margin-left: auto;
}

.header__actions > button {
  cursor: pointer;
}

.header__link {
  color: #ffffff;
  background-color: transparent;
}

.header__link:hover {
  color: #bdbdbd;
}

.header__button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  color: #146eb4;
  font-weight: 500;
}

.header__button:hover {
  background-color: #bdbdbd;
}
