* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "Galano Grotesque";
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("../public/assets/fonts/galanogrotesque-regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("../public/assets/fonts/galanogrotesque-medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("../public/assets/fonts/galanogrotesque-semibold.otf") format("opentype");
  font-weight: 600;
}
